@model Market.Models.Products.CatalogViewModel;

@{
    ViewData["Title"] = "Categories";
}

<div class="row">
    <partial name="Partial/_Filter" model="Model" />
    <div class="col-md-4">
        <h2>Продукты.</h2>
            <hr />
        @{
            foreach(var product in Model.Products)
            {
                <partial name="Partial/_Product" model="product" /> 
            }
        }
    </div>
</div>