@model IEnumerable<Market.Logic.Models.Order>

@{
    ViewData["Title"] = "List";
}

<h1>Orders</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th>
                Sum Cost
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDate)
                </td>
                <td>
                    @string.Format("{0:C}", item.GetSumCost())
                </td>
                <td>
                    @Html.ActionLink("Details", "Details",new { Id = item.Key.Value })
                </td>
            </tr>
        }
    </tbody>
</table>
