@model Market.Logic.Models.ItemType

<div class="col-md-3">
	<a href="~/products/catalog?typeId=@Model.Id">
		<img src="@(Model.URL ?? "link")" alt="@Model.Name" />
		<h2>@Model.Name</h2>
	</a>
</div>