@model Market.Models.Products.CatalogViewModel;

<div class="col-md-4">
        <form method="post" asp-controller="Products" asp-action="Update">
            <div class="form-floating">
                <input asp-for="TypeId" type="hidden"/>
                <input asp-for="SearchString" type="hidden"/>
                
            </div>
        @{
            foreach(var property in Model.Properties)
            {
                <div class="form-floating">
                    <h4>@property.Value.Property.Name</h4>
                </div>
                foreach(var values in property.Value.Values)
                {
                    <partial name="Partial/_PropertyValue" model="values" /> 
                }
            }
        }
            <br />
            <hr />
            <div class="form-floating">
                <button id="updateSubmit" type="submit" class="w-80 btn btn-lg btn-primary">Update</button>
            </div>
        </form>
    </div>